img {
    width: 100%;
    height: 300px;
}
.menu-item {
    display: flex;
    flex-direction: column;
}
.item {
    display: flex;
    flex-direction: column;
}
.desc {
    display: flex;
    justify-content: space-around;
    padding: 1em 0;
    font-size: 23px;
    border: 1px solid grey;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 0.4em;
    align-items: center;
}
.order {
    display: flex;
    gap: 5px;
}
.order button {
    width: 40px;
}
.order input {
    width: 50px;
}
#add-to-cart{
    width: 100%;
}
.quantity {
    padding-left: 25%;
}